<a href="https://colab.research.google.com/github/tejusb9/Machine-Learning-in-90-days/blob/master/99Games_IAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# data analysis
import pandas as pd
import numpy as np
import random as rnd
import math
!pip install eli5
!pip install catboost
from scipy import stats
from scipy.stats import norm, skew, mode
from scipy.special import boxcox1p

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot
import statsmodels.api as sm
import plotly.express as px
import plotly.graph_objects as go
from wordcloud import WordCloud
%matplotlib inline

# machine learning
from joblib import parallel_backend
import eli5
from eli5.sklearn import PermutationImportance
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline, Pipeline, FeatureUnion
from sklearn import preprocessing
from sklearn.preprocessing import RobustScaler, LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelBinarizer
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.metrics import confusion_matrix, accuracy_score 
from sklearn.metrics import precision_score,f1_score

import xgboost as xgb
import lightgbm as lgb

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from catboost import CatBoostClassifier,Pool

import warnings
warnings.filterwarnings('ignore')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting eli5
  Downloading eli5-0.13.0.tar.gz (216 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 216.2/216.2 KB 11.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: attrs>17.1.0 in /usr/local/lib/python3.8/dist-packages (from eli5) (22.2.0)
Collecting jinja2>=3.0.0
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.1/133.1 KB 16.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from eli5) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from eli5) (1.7.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.8/dist-packages (from eli5) (1.0.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.8/dist-packages (from eli5) (0.8.10)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2>=3.0.0->eli5) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20->eli5) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20->eli5) (1.2.0)
Building wheels for collected packages: eli5
  Building wheel for eli5 (setup.py) ... done
  Created wheel for eli5: filename=eli5-0.13.0-py2.py3-none-any.whl size=107748 sha256=43f8c7212a7b0b17db812c7d4c861b89155965503fcaf452ef7550397b5305fc
  Stored in directory: /root/.cache/pip/wheels/85/ac/25/ffcd87ef8f9b1eec324fdf339359be71f22612459d8c75d89c
Successfully built eli5
Installing collected packages: jinja2, eli5
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
notebook 5.7.16 requires jinja2<=3.0.0, but you have jinja2 3.1.2 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.2 which is incompatible.
Successfully installed eli5-0.13.0 jinja2-3.1.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 10.6 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [2]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [3]:
#games = pd.read_csv('appstore_games.csv')
games=pd.read_csv('/content/gdrive/MyDrive/colabdata/99games.csv')
games.head(5)

,install_date,player_id,country,device_brand,is_organic,var_01,var_02,var_03,var_04,var_05,...,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,revenue_d30
0,12/10/22,pl00368026c2,Indonesia,Xiaomi,1.0,12.0,75.0,45.0,1.0,5.0,...,48500.0,25.0,16.0,6.0,8174.0,19944.0,100.0,0.0,1000.0,0.00
1,07/10/22,pl00510c6d3a,Germany,samsung,0.0,10.0,65.0,45.0,NaN,1.0,...,450.0,43.0,44.0,1.0,15896.0,5810.0,38.0,0.0,7566.0,19.95
2,20/10/22,pl00bf4a1f7a,Malaysia,vivo,0.0,10.0,5.0,18.0,3.0,4.0,...,18120.0,16.0,14.0,2.0,7660.0,18020.0,112.0,0.0,939.0,0.00
3,04/10/22,pl0040d7c1bd,Thailand,NaN,0.0,10.0,11.0,17.0,NaN,3.0,...,NaN,NaN,2.0,1.0,201.0,80.0,2.0,0.0,62.0,0.00
4,11/10/22,pl00f6e4154b,Russia,HUAWEI,1.0,12.0,6.0,4.0,1.0,4.0,...,4710.0,9.0,9.0,3.0,3190.0,4710.0,6.0,0.0,252.0,0.00

Warning: Total number of columns (48) exceeds max_columns (20) limiting to first (20) columns.

In [4]:
print("Number of rows:", games.shape[0])
print("Number of columns:", games.shape[1])
print("----------------------------------------------------")
print(games.info())

Number of rows: 10580
Number of columns: 48
----------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10580 entries, 0 to 10579
Data columns (total 48 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   install_date  10578 non-null  object
 1   player_id     10578 non-null  object
 2   country       10578 non-null  object
 3   device_brand  9504 non-null   object
 4   is_organic    10579 non-null  float64
 5   var_01        10579 non-null  float64
 6   var_02        2319 non-null   float64
 7   var_03        2410 non-null   float64
 8   var_04        2085 non-null   float64
 9   var_05        1776 non-null   float64
 10  var_06        1924 non-null   float64
 11  var_07        372 non-null    float64
 12  var_08        3370 non-null   float64
 13  var_09        10579 non-null  float64
 14  var_10        7926 non-null   float64
 15  var_11        7926 non-null   float64
 16  var_12        776 non-null    float64
 17  var_13        7408 non-null   float64
 18  var_14        1780 non-null   float64
 19  var_15        2164 non-null   float64
 20  var_16        5687 non-null   float64
 21  var_17        2261 non-null   float64
 22  var_18        570 non-null    float64
 23  var_19        882 non-null    float64
 24  var_20        6006 non-null   float64
 25  var_21        4131 non-null   float64
 26  var_22        983 non-null    float64
 27  var_23        2446 non-null   float64
 28  var_24        1215 non-null   float64
 29  var_25        4798 non-null   float64
 30  var_26        8404 non-null   float64
 31  var_27        3203 non-null   float64
 32  var_28        2001 non-null   float64
 33  var_29        7272 non-null   float64
 34  var_30        10186 non-null  float64
 35  var_31        6267 non-null   float64
 36  var_32        6267 non-null   float64
 37  var_33        6267 non-null   float64
 38  var_34        6267 non-null   float64
 39  var_35        6265 non-null   float64
 40  var_36        7960 non-null   float64
 41  var_37        7960 non-null   float64
 42  var_38        7960 non-null   float64
 43  var_39        7960 non-null   float64
 44  var_40        7960 non-null   float64
 45  var_41        7960 non-null   float64
 46  var_42        10579 non-null  float64
 47  revenue_d30   10579 non-null  float64
dtypes: float64(44), object(4)
memory usage: 3.9+ MB
None

In [5]:
games.describe()

,is_organic,var_01,var_02,var_03,var_04,var_05,var_06,var_07,var_08,var_09,...,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,revenue_d30
count,10579.000000,10579.000000,2319.000000,2410.000000,2085.000000,1776.000000,1924.000000,372.000000,3370.000000,10579.000000,...,6267.000000,6265.000000,7960.000000,7960.000000,7960.000000,7960.000000,7960.000000,7960.000000,10579.000000,10579.000000
mean,0.298327,10.945931,20.275981,16.915353,5.358753,7.157658,8.543139,31.362903,41.965875,353.663059,...,12821.680230,14.049162,10.411558,2.799372,3244.148744,6478.675000,41.820854,0.472920,506.956045,0.976401
std,0.457545,1.078199,174.005384,167.144070,185.993718,208.837628,197.246252,529.017026,134.307501,208.865348,...,12790.132051,55.073454,30.401240,29.384674,3071.194449,6808.070529,69.491424,29.416786,778.545295,19.436376
min,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,10.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,7.000000,208.035714,...,4400.000000,9.000000,5.000000,1.000000,973.750000,2080.000000,4.000000,0.000000,60.000000,0.000000
50%,0.000000,10.000000,5.000000,6.000000,1.000000,2.000000,3.000000,3.000000,19.000000,315.815789,...,9990.000000,12.000000,9.000000,2.000000,2322.000000,4410.000000,23.000000,0.000000,251.000000,0.000000
75%,1.000000,12.000000,18.000000,17.000000,1.000000,3.000000,6.000000,5.000000,49.750000,463.630682,...,17610.500000,17.000000,12.000000,3.000000,4640.750000,10090.000000,59.000000,0.000000,694.000000,0.000000
max,1.000000,12.000000,8260.000000,8169.000000,8494.000000,8803.000000,8655.000000,10207.000000,7209.000000,1191.000000,...,165652.000000,4314.000000,2619.000000,2619.000000,19801.000000,110540.000000,2619.000000,2619.000000,19801.000000,1393.800000

In [6]:
total = games.isnull().sum().sort_values(ascending=False)
percent = (total/games.isnull().count()).sort_values(ascending=False)*100
dtype = games.dtypes
na_table = pd.concat([total,percent,dtype], axis=1, keys=['Total', '%', 'Dtype'])
na_table

              Total          %    Dtype
var_07        10208  96.483932  float64
var_18        10010  94.612476  float64
var_12         9804  92.665406  float64
var_19         9698  91.663516  float64
var_22         9597  90.708885  float64
var_24         9365  88.516068  float64
var_05         8804  83.213611  float64
var_14         8800  83.175803  float64
var_06         8656  81.814745  float64
var_28         8579  81.086957  float64
var_04         8495  80.293006  float64
var_15         8416  79.546314  float64
var_17         8319  78.629490  float64
var_02         8261  78.081285  float64
var_03         8170  77.221172  float64
var_23         8134  76.880907  float64
var_27         7377  69.725898  float64
var_08         7210  68.147448  float64
var_21         6449  60.954631  float64
var_25         5782  54.650284  float64
var_16         4893  46.247637  float64
var_20         4574  43.232514  float64
var_35         4315  40.784499  float64
var_34         4313  40.765595  float64
var_33         4313  40.765595  float64
var_32         4313  40.765595  float64
var_31         4313  40.765595  float64
var_29         3308  31.266541  float64
var_13         3172  29.981096  float64
var_11         2654  25.085066  float64
var_10         2654  25.085066  float64
var_41         2620  24.763705  float64
var_36         2620  24.763705  float64
var_40         2620  24.763705  float64
var_39         2620  24.763705  float64
var_38         2620  24.763705  float64
var_37         2620  24.763705  float64
var_26         2176  20.567108  float64
device_brand   1076  10.170132   object
var_30          394   3.724008  float64
install_date      2   0.018904   object
player_id         2   0.018904   object
country           2   0.018904   object
var_09            1   0.009452  float64
var_01            1   0.009452  float64
is_organic        1   0.009452  float64
var_42            1   0.009452  float64
revenue_d30       1   0.009452  float64

In [7]:
games = games.drop(['player_id', 'var_01', 'var_02', 'var_03', 'var_04', 'var_05', 'var_06', 'var_07', 'var_08', 'var_09', 'var_10', 'var_11', 'var_12', 'var_13', 'var_14', 'var_15', 'var_16', 'var_17', 'var_18', 'var_19', 'var_20', 'var_21', 'var_22', 'var_23', 'var_24', 'var_25', 'var_26', 'var_27', 'var_28', 'var_29', 'var_30', 'var_31', 'var_32', 'var_33', 'var_34', 'var_35', 'var_36', 'var_37', 'var_38', 'var_39', 'var_40', 'var_41', 'var_42'], axis = 1)

In [8]:
total = games.isnull().sum().sort_values(ascending=False)
percent = (total/games.isnull().count()).sort_values(ascending=False)*100
dtype = games.dtypes
na_table = pd.concat([total,percent,dtype], axis=1, keys=['Total', '%', 'Dtype'])
na_table

              Total          %    Dtype
device_brand   1076  10.170132   object
install_date      2   0.018904   object
country           2   0.018904   object
is_organic        1   0.009452  float64
revenue_d30       1   0.009452  float64

In [10]:
games[games['revenue_d30'].isnull()]
#games.iloc[16782]

      install_date country device_brand  is_organic  revenue_d30
10578          NaN     NaN          NaN         NaN          NaN

In [11]:
games[games['country'].isnull()]
#games.iloc[16782]

      install_date country device_brand  is_organic  revenue_d30
10578          NaN     NaN          NaN         NaN          NaN
10579          NaN     NaN         1075         0.0          0.0

In [12]:
games[games['is_organic'].isnull()]
#games.iloc[16782]

      install_date country device_brand  is_organic  revenue_d30
10578          NaN     NaN          NaN         NaN          NaN

In [13]:
games[games['install_date'].isnull()]
#games.iloc[16782]

      install_date country device_brand  is_organic  revenue_d30
10578          NaN     NaN          NaN         NaN          NaN
10579          NaN     NaN         1075         0.0          0.0

In [14]:
def na_median(column):
    return column.fillna(column.median())

In [16]:
result = games.drop([10579, 10578])
print(result)

      install_date        country              device_brand  is_organic  \
0         12/10/22      Indonesia                    Xiaomi         1.0
1         07/10/22        Germany                   samsung         0.0
2         20/10/22       Malaysia                      vivo         0.0
3         04/10/22       Thailand                       NaN         0.0
4         11/10/22         Russia                    HUAWEI         1.0
...            ...            ...                       ...         ...
10573     14/10/22         Brazil                  motorola         0.0
10574     14/10/22       Pakistan  INFINIX MOBILITY LIMITED         0.0
10575     16/10/22  United States                      OPPO         0.0
10576     15/10/22   South Africa                    HUAWEI         0.0
10577     16/10/22    Philippines  INFINIX MOBILITY LIMITED         0.0

       revenue_d30
0             0.00
1            19.95
2             0.00
3             0.00
4             0.00
...            ...
10573         0.00
10574         0.00
10575         0.00
10576         0.00
10577         0.00

[10578 rows x 5 columns]

In [17]:
games.tail(5)

,install_date,country,device_brand,is_organic,revenue_d30
10575,16/10/22,United States,OPPO,0.0,0.0
10576,15/10/22,South Africa,HUAWEI,0.0,0.0
10577,16/10/22,Philippines,INFINIX MOBILITY LIMITED,0.0,0.0
10578,NaN,NaN,NaN,NaN,NaN
10579,NaN,NaN,1075,0.0,0.0